---
title: 
---

{{ include 'content/description.vto' }}

<div id="drop-area">
    <p>Drop a markdown file here</p>
    <p>or</p>
    <input type="file" id="fileElem" accept=".md">
</div>

<p class="padded"><a id="download-link" download="converted.vto">Download Converted File</a></p>
<p class='warning padded centred'>This programme runs in the browser - nothing ever leaves your computer.</p>
<script src="/assets/js/app.js"></script>
